@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<CorporateSolutions.Models.Product>

@{
    ViewData["Title"] = "Product List";
}

<h2>Product List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Create New</a>
